<div class="container">

  <div class="url">
    <h1>How much can your podcast earn?</h1>
    <label>Podcast RSS feed URL</label>
    <input class="podcast" type="text" />
  </div>

  <div class="phone">
    <iframe class="screen" src="https://www.google.com" title="Website"></iframe>
    <div class="device"></div>
  </div>
  
  <div class="email">
    <label>Average episode downloads</label>
    <select>
      <option value="0">Not many yet</option>
      <option value="100">100+</option>
      <option value="1000">1,000+</option>
    </select>

    <label>Email</label>
    <input type="email" />
    
    <button>Start earning with Supercast</button>
  </div>

</div>

<div class="next-section"></div>

      <!--<img src="https://daringfireball.net/misc/2020/05/dithering.png" />-->

